*{
    margin: 0px;
    
}

.gparent{
    border: 10px;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
}

.parent{
    width: 500px; ;
    height: 400px;
    flex-direction: column;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
    border :solid 2px;
    border-radius: 10px;
    border-color: rgb(179, 178, 178);
    background-color: #f9f9f9;
    align-items: center;
    
}
h3{
    word-spacing:0px;
    font-size: 30px;
}

h3 > :nth-child(1){
color: blue;
}
h3 > :nth-child(2){
    color:rgb(233 19 45 /1) ;  
}

h3 > :nth-child(3){
        color:#dcdc36;
}
h3 > :nth-child(4){
    color: blue;
}
h3 > :nth-child(5){
    color: rgb(9, 196, 16);
}
h3 > :nth-child(6){
    color:rgb(233 19 45 /1);
}
.iconuser{
    position: absolute;
    margin-top: -106px;
    margin-left: 261px;
    opacity:0.75;
    cursor: pointer;
}
.iconpas{
    position: absolute;
    margin-top: -6px;
    margin-left: 259px;
    opacity:0.75;
    cursor: pointer;
}
body input{
    width: 285px;
    height: 28px;
    border-radius: 5px;
    border-color:#f9f9f9 ;
    background-color: bisque;
}
body a{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    line-height:36px;
    margin-left:-226px ;
    width: 120px;
    
}

body button{
    background-color: blue;
    color: aliceblue;
    border: solid 0px;
    width: 74px;
    height: 28px;
    margin-bottom: 4px;
    margin-left:351px;

    cursor: pointer;
}

